<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div class="mt-5">
            <h2>Add a New Doctor</h2>
            <form action="/contact/createContact"  method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Doctor Name</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" name="address">
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Phone Number</label>
              <input type="text" class="form-control" id="phone" name="phone">
          </div>
          <button type="submit" class="btn btn-primary" value="submit">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-6">
      <label for="ul"><h2>Your Doctors</h2></label>
        <ul class="row list-unstyled">
          <% for(var i=0; i< contacts.length; i++) {%>
          <!-- <% contacts.forEach( el => { %> -->
            <li class="col-6 justify-content-between mt-5">
                    <p>Name:<span> <%= el.title %></span></p>
                    <p>Address:<span> <%= el.address %></span></p>
                      <p>Phone:<span> <%= el.phone %></span></p>
                    <button class="btn btn-primary fa fa-trash" type="submit"></button>
                  </form>                  
                </li>
                 <!-- <% }) %> -->
                 <% } %>
                </ul>

                  </div>
                  <!-- <div class="row justify-content-center mt-5">
                    <a class="btn btn-primary" href="/cabinet">Medicine Cabinet</a>
                    <a class="btn btn-outline-primary" href="/directory">Your Providers</a>
                  </div>     -->
                </div>
              </div>
            </div>
          </div>
<%- include('partials/footer') -%>
