<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= doctor.title %></h2>
      <img class="img-fluid" src="<%= doctor.image%>" />
      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/doctor/likeDoctor/<%= doctor.id %>?_method=PUT"
          method="POST"
        >
        </form>
        <%if(med.user == user.id){ %>
        <form
          action="/doctor/deleteDoctor/<%= doctor.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <label for="title" class="form-label">Name:</label>
      <p><%= doctor.title %></p>
    </div>
    <div class="col-3 mt-5">
      <label for="address" class="form-label">Address:</label>
      <p><%= doctor.address %></p>
    </div>
    <div class="col-3 mt-5">
      <label for="phoneNr" class="form-label">Phone Number:</label>
      <p><%= med.phoneNr %></p>
    </div>
    <div class="mt-5">
      <h2>Add a note:</h2>
      <form action="/comment/createComment/<%=med._id%>" method="POST">
        <div class="mb-3">
            <label for="comment" class="form-label">Questions or Concerns to bring up on your next visit.</label>
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
       
        <button type="submit" class="btn btn-primary">Add note</button>
      </form>
    </div>
    <ul>
      <% for(var i=0; i<comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5 messges">
         <%= comments[i].comment%>
        </li>
      <% } %>
    </ul>
    <div class="bottom-nav row justify-content-center mt-5">
      <a class="btn btn-primary" href="/dashboard">Add a New Medication</a>
      <a class="btn btn-outline-primary" href="/cabinet">Medicine Cabinet</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
