<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class=" list-unstyled h-100 justify-content-center align-items-center ">
        
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-4 mx-auto card">
            <a href="/post/<%= posts[i]._id%>" class="card-body">
              <img class="img-fluid" src="<%= posts[i].image%>">
              <h2><%= posts[i].title %></h2>
              <p><%= posts[i].caption %></p>
              <% comments.filter(element => element.post == posts[i]._id).forEach(function (comment) { %>
                <p><%= comment.comment %></p>
              <% }) %>
            </a>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>