<%- include('partials/header') -%>
  <div class="container" id="feedColumn">
    <div class="row justify-content-center">
      <ul class="row list-unstyled" id="feedContainer">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-center mt-5" id="postList">
            <h3><%= posts[i].userName %></h3>
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
            <span class="likes">Likes: <%= posts[i].likes %></span>
            <span class="caption">Caption: <%= posts[i].caption %></span>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>