<%- include('partials/navbarheader') -%>
<div class="container">
    <div>
      <div class="card p-3 mt-3 mb-2 mx-auto" style="width:400px">
        <p class="text-center mb-0">Your photos have gotten a total of <b><%= likes[0].total %></b> likes!</p>
      </div>
      <div class="post-card-container">
        <% for(var i=0; i<posts.length; i++) {%>
          <div class="card post-card">
            <div class="card-img-container">
              <a href="/post/<%= posts[i]._id%>">
                <img src="<%= posts[i].image%>">
              </a>
            </div>
            <div class="card-text-container">
              <p><%= posts[i].likes %> likes</p>
              <p><a href="/publicProfile/<%=posts[i].user._id%>"><%= posts[i].user.userName%></a></p>
              <p class="fw-bold"><%= posts[i].title %></p>
              <p class="fst-italic"><%= posts[i].caption %></p>
              <p class="fst-italic"><%= posts[i].createdAt.toString().slice(0, 15) %></p>
            </div>
          </div>
        <% } %>
        </div>
    </div>
  </div>  
<%- include('partials/footer') -%>