<%- include('partials/header') -%>
  <div class="container">
   
    <%if(locals.title){%>
      <h1><%=title%></h1>
    <%}%>
   
    <div class="row justify-content-center mt-5">

      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="col-6 mt-5">
          <a class="btn btn-primary" href="/profile">Return to Profile</a>
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>
    </div>
  </div>  
<%- include('partials/footer') -%>