<%- include('partials/headers/header-menu') -%>
  <main class="container">
    <section class="container-feed">
      <section class="section-feed">
        <section class="section-list-feed">
        <ul class="list-feed">
          <% posts.forEach(el => { %>
            <% if(el.user == user.id) { %>
            <li class="item-list-feed">
              <div class="card">
                  <img src="<%= el.image.feed%>" class="card-img-top" alt="...">
                <ul class="list-group list-group-flush list-card-feed">
                  <li class="list-group-item item-list-card"> 
                    <%= el.player%>
                  </li>
                  <li class="list-group-item item-list-card"> <%= el.team%></li>
                  <li class="list-group-item item-list-card"><%= el.position%></li>
                  <li class="list-group-item item-list-card"> 
                    <%= el.win %>-<%= el.loss%> | <%= `.${(Number(el.win)/(Number(el.win)+Number(el.loss))).toFixed(3).toString().split('.')[1]}` %>%
                  </li>
                </ul>
                <div class="card-body card-body-notes">
                  <p class="card-text"><%= el.notes%></p>
                </div>
                <div class="card-body card-body-btn">
                  <a href="#"><i class="fa-regular fa-trash-can fa-lg"></i></a> <!-- delete request -->
                  <a href="/post/<%= el._id%>"> <i class="fa-regular fa-pen-to-square fa-lg"></i></a> 
                </div>
              </div>
            </li>
            </li>
          <% }}) %>
        </ul>
      </section>
      </section>
    </section>
  </main>  

  <%- include('partials/footer') -%>