<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
            <div class="row align-items-center">
              <form
                class="col"
                action="/post/likePostFromFeed/<%= posts[i]._id %>?_method=PUT"
                method="POST"
              >
                <button class="btn" type="submit">
                    <img 
                      class="icon" 
                      src='<%= posts[i].likedByViewer ? "/imgs/liked.png" : "/imgs/notLiked.png" %>'
                      alt="not filled heart"
                    >
                    <% if (posts[i].likedByViewer){ %>
                      <% if (posts[i].likes > 1){ %>
                        <span>You and <%=posts[i].likes -1 %> liked this</span>
                      <% }else{ %>
                        <span>You liked this</span>
                      <% } %>
                    <% } else { %>
                      <span><%=posts[i].likes%> liked this</span>
                    <% } %>
                </button>
              </form>
            </div>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>