<%- include('partials/header') -%>
<%- include('partials/nav') -%>
<div class="container">
    <div class="mt-5 mb-5 d-flex flex-wrap gap-3 flex-row align-items-center justify-content-center">
            <% for(var i=0; i<posts.length; i++) {%>
                <div class="feed">
                    <a href="/post/<%= posts[i]._id%>"><img class="img-fluid rounded" src="<%= posts[i].image%>"></a>
                </div>
            <% } %>
        </ul>
    </div>
</div>  
<%- include('partials/footer') -%>