<%- include('partials/headerSignedIn') -%>
  <div class="container">
    <h2 class="text-center mb-5">Let's see some kitties.</h2>
    <div class="d-md-flex justify-content-between align-items-center">
      <div class="row g4">
        <div class="col-sm-6 col-md-3 my-2" <% for(var i=0; i<posts.length; i++) {%>
          <div class="card bg-light border-secondary">
            <img class="card-img-top" src="<%= posts[i].image%>">
            <div class="card-body">
              <h5 class="card-title">
                <%= posts[i].title %>
              </h5>
              <p class="card-text">
                <%= posts[i].caption %>
              </p>
              <a href="/post/<%= posts[i]._id%>" class="btn btn-primary">See Kitty</a>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <%- include('partials/footer') -%>