<%- include('partials/header') -%>
<div class="profileBtn">
  <form action="/<%= %> " method="POST">
    <a href="/profile/<%= user._id%>" class="col-3 btn btn-primary">Profile</a>
  </form>
</div>
  <div class="container">
    <div class="rowRow justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="spicy col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">

              <span ><a class="userNameFont"href="/profileTwo/<%= posts[i].user %>"><%= posts[i].userName %></a></span>
            </a>

              <span class="captionFont">  <%= posts[i].caption %> </span>
          </li>

        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>