<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

    <div class="container pt-2 pb-2 shadow bg-light">
      <div class="row p-2 justify-content-center mt-2">
        <% for(var i=0; i<posts.length; i++) {%>
          <div class="card col-sm-6 col-md-6 col-lg-3 shadow-sm">
            <a href="/post/<%= posts[i]._id%>" class="card-img-top">
              <img class="img-fluid" src="<%= posts[i].image%>">
              <div class="card-body">
                  <h5 class="card-title"><%=posts[i].title%></h5>
                <p class="card-text"><%=posts[i].caption%></p>
                <p class="card-text"><small class="text-muted"><%=posts[i].createdAt%></small></p>
              </div>
            </a>
          </div>
          <% } %>
      </div>
    </div>
<%- include('partials/footer') -%>
