<%- include('partials/header') -%>
<div style="display: flex; flex-direction: column; align-items: center">
  <% for(var i=0; i<posts.length; i++) {%>
    <div class="card w-96 glass mb-2.5">
      <figure>
        <a href="/post/<%= posts[i]._id%>">
          <img class="img-fluid" src="<%= posts[i].image%>">
        </a>
      </figure>
      <div class="card-body">
        <h2 class="card-title"><%= posts[i].title %></h2>
        <p><%= posts[i].caption %></p>
        <div class="card-actions justify-end">
          <a href="/post/<%= posts[i]._id%>" class="btn btn-primary">View post</a>
        </div>
      </div>
    </div>
  <% } %>
</div>
   
<%- include('partials/footer') -%>