<%- include('partials/headerSignedIn') -%>
  <div class="container mb-4">
    <h2 class="text-center my-4">Let's see some kitties.</h2>
    <div class="card-group">
          <% for(var i=0; i<posts.length; i++) {%>
              <div class="card bg-light mx-3 col-md-3">
                <img class="card-img-top" src="<%= posts[i].image%>">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= posts[i].title %>
                  </h5>
                  <p class="card-text">
                    <%= posts[i].caption %>
                  </p>
                  <a href="/post/<%= posts[i]._id%>" class="btn btn-primary">See Kitty</a>
                </div>
              </div>
          <% } %>
    </div>
  </div>
    <%- include('partials/footer') -%>