<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">

        <% for (const post of posts) { %>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= post._id%>">
              <img class="img-fluid" src="<%= post.image%>">
              <h1 class="username-overlay"><%=post.userName%></h1>
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>