<%- include('partials/headers/header-menu') -%>
<main class="container">
  <section class="container-home">
    <section class="container-main-home">
      <section class="section-my-home section-my-leagues">
        <h2>add stats</h2>
        <ul class="list-my-leagues list-add-recently">  
          <li class="item-my-leagues add-league" data-toggle="modal" data-target="#add-data">
            <a href="#">
              <i class="fa-solid fa-circle-plus fa-2xl"></i>
            </a>
          </li>
          <h2 class="recently-heading">recently added</h2>
          <li class="recently-added-item">
            <section class="recently-added-container">
              <ul class="list-my-leagues recently-added-list">
                <% posts.forEach(el => { %>
                  <% if(el.user == user.id) { %>
                <li class="item-my-leagues add-league">
                 <a href="/post/<%= el._id%>">
                  <%= el.player.toUpperCase() %>
                </a>
                <% }}) %>
                </li>
              </ul>
            </section>
          </li>
        </ul>
      </section>
      <section class="section-my-home section-my-leagues">
        <h2>pinned</h2>
        <ul class="list-my-leagues list-pinned">
          <li class="item-my-leagues add-league"></li>
          <li class="item-my-leagues add-league"></li>
          <li class="item-my-leagues add-league"></li>
        </ul>
      </section>
    </section>
    <section class="other-section"></section>
  </section>
</main>
<%- include('partials/modal') -%>
<%- include('partials/footer') -%>