<%- include('partials/head') -%>
<%- include('partials/header') -%>

<main class="container">
  <div class="row justify-content-center">
    <section class="col-6 mt-5">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>
      
    </section>
    <div class="h-full bg-gradient-to-tl from-green-400 to-indigo-900 w-full py-16 px-4">  
      <div class="flex flex-col items-center justify-center">
          
          <!-- <a href="/"   class="hover:text-gray-500 focus:text-gray-500 focus:outline-none focus:underline hover:underline text-sm font-medium leading-none  text-gray-800 cursor-pointer"> <img src="imgs/reducedHero.gif" class=" border rounded-lg  " alt="logo"></a> -->
     
    <div  class="bg-white shadow rounded lg:w-1/3  md:w-1/2 w-full p-10 mt-16">
      <p tabindex="0" class="focus:outline-none text-2xl font-extrabold leading-6 text-gray-800">Login to your account</p>
      <p tabindex="0" class="focus:outline-none text-sm mt-4 font-medium leading-none text-gray-500">Dont have account? <a href="/signup"   class="hover:text-gray-500 focus:text-gray-500 focus:outline-none focus:underline hover:underline text-sm font-medium leading-none  text-gray-800 cursor-pointer"> Sign up here</a></p>
      <a href="/auth/google" aria-label="Continue with google" role="button" class="focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 py-3.5 px-4 border rounded-lg border-gray-700 flex items-center w-full mt-10">
         
         <i class="fa-brands fa-google"></i>
          <p class="text-base font-medium ml-4 text-gray-700">Continue with Google</p>
      </a>
      <a aria-label="Continue with github" role="button" class="focus:outline-none  focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 py-3.5 px-4 border rounded-lg border-gray-700 flex items-center w-full mt-4">
         <i class="fa-brands fa-instagram"></i>                          
          <p class="text-base font-medium ml-4 text-gray-700">Continue with Instagram</p>
      </a>
      <a aria-label="Continue with twitter" role="button" class="focus:outline-none  focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 py-3.5 px-4 border rounded-lg border-gray-700 flex items-center w-full mt-4">
        <i class="fa-brands fa-facebook  "></i>                        
          <p class="text-base font-medium ml-4 text-gray-700">Continue with Facebook</p>
      </a>
      <a aria-label="Continue with twitter" role="button" class="focus:outline-none  focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 py-3.5 px-4 border rounded-lg border-gray-700 flex items-center w-full mt-4">
        <i class="fa-brands fa-twitter "></i>                        
          <p class="text-base font-medium ml-4 text-gray-700">Continue with Twitter</p>
      </a>
      <div class="w-full flex items-center justify-between py-5">
     <hr class="w-full bg-gray-800">
     <p class="text-base font-medium leading-4 px-2.5 text-gray-400">OR</p>
     <hr class="w-full bg-gray-800">
    
    
    </div>
     <form action="/login" method="POST">
        
        <div class="mb-3">
          <label aria-labelledby="email" id="email" for="exampleInputEmail1" class="form-label text-sm font-medium leading-none text-gray-800">Email address</label>
          <input type="email" class="form-control bg-gray-200 border rounded  text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
          <span id="emailHelp" class="form-text">We'll never share your email with anyone else.</span>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label text-sm font-medium leading-none text-gray-800">Password</label>
          <input id="pass" type="password" class="form-control bg-gray-200 border rounded  text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2" id="password" name="password">
          <!-- <div class="absolute right-0 mt-2 mr-3 cursor-pointer">
          <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sign_in-svg5.svg" alt="viewport">                                    
          </div> -->
        </div>
        <div class="mt-8">
          <button type="submit" role="button" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 text-sm font-semibold leading-none text-white focus:outline-none bg-indigo-700 border rounded hover:bg-indigo-600 py-4 w-full">Submit</button>
        </div>

      </form> 
</div>
  </div>
</main>

<%- include('partials/footer') -%>
