<%- include('partials/headers/header-menu') -%>
  <main class="container">
    <section class="container-feed">
      <% if ( url==='/players' ) { %>
        <%- include('partials/feed/players') -%>
          <% } else if (url==='/teams' ) { %>
            <%- include('partials/feed/teams') -%>
              <% } else { %>
                <%- include('partials/feed/leagues') -%>
                  <% } %>
    </section>
  </main>

  <%- include('partials/footer') -%>