<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <%if(post.user == user.id){ %> <!-- Does person who made post = person logged in? Is it the users post? If so, display trash-->
        <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="col-3"> 
          <!-----in the action we are appending the _method=DELETE for METHOD OVERRIDE (same for put)-->
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= post.caption %></p>
    </div>


    <div class="mt-5">
      <h2>Add a Comment</h2>
      <form action="/comment/createComment/<%=post._id%>" method="POST"> 
        <div class="mb-3">
            <label for="Comment" class="form-label">Comment</label>
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
      </form>
    </div>

    <ul>
      <!--TODO Add: username and delete button -->
      <% for(var i=0; i<comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <h5>Comment by <%= comments[i].createdBy%>:</h5>
          <h3>"<%= comments[i].comment%>"</h3>
         

          <!-- adding comment likes -->
          <form class="col-1" action="/comment/likeComment/<%= comments[i]._id %>?_method=PUT" method="POST">
            <button class="btn btn-primary fa fa-heart" type="submit"></button>
          </form>
          <h6 class="col-3">Likes: <%= comments[i].likes %></h6>
          <!-- adding comment likes above -->

          <!-- adding comment deletes below -->
          <%if(comments[i].createdById == user.id){ %>
          <form action="/comment/deleteComment/<%= comments[i]._id %>?_method=DELETE" method="POST" > 
            <button class="btn btn-outline-danger" type="submit">Delete</button>
          </form>
          <%}%>
          <!-- adding comment deletes above -->
        </li>
      <% } %>
    </ul>
    
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
