<%- include('partials/logged-in-header') -%>
<div class="container card-container">
    <div class="row">
      <h1><%= post.title %></h1>
      <p><%= post.caption %></p>
      <p>By: <%= user.userName %></p>
      <div class="col-md-6">
        <img src="<%= post.image%>" class="img-fluid" alt="Responsive image">
        <div class="row row-cols-3">
          <form
            class="col-2"
            action="/post/likePost/<%= post.id %>?_method=PUT"
            method="POST"
          >
            <button class=" <%if(post.likes.includes(user.id)){ %> btn-liked <%} %>
            btn btn-primary fa fa-heart" type="submit"></button>
          </form>
          <h3 class="col"><%= post.likes.length - 1 %></h3>
          <form
            class="col justify-content-end"
            action="/post/bookmarkPost/<%= post.id %>?_method=PUT"
            method="POST"
          >
          <button class="<%if(post.bookmarks.includes(user.id)){ %> bi bi-bookmark-fill<%} else { %> bi bi-bookmark <% }%>
            btn btn-primary" type="submit"></button>
          </form>
          <!-- <%if(post.user == user.id){ %>
          <form
            action="/post/deletePost/<%= post.id %>?_method=DELETE"
            method="POST"
            class="col-3"
          >
            <button class="btn btn-primary fa fa-trash" type="submit"></button>
          </form>
          <%}%> -->
        </div>
      </div>
      <div class="col-md-6">
        <h3 class="display-4">Movie</h3>
        <h2>Description</h2> <hr class="style1">
        <ul class="list-unstyled">
        <% for(var i=0; i<post.description.length; i++) {%>
            <li class="p-1 g-2"><%= post.description[i] %></li>
            <% } %>
          </ul>
          <h2>Reason</h2> <hr class="style1">
          <ol class="list-group list-group-numbered">
            <% for(var i=0; i<post.directions.length; i++) {%>
            <li class="p-1"><%= post.reason[i] %></li>
            <% } %>
          </ol>
      </div>
    </div>

  
  

</div>

<!-- <div class="container">
  <div class="card" style="width: 50rem;">
    <h3 class="card-title"><%= post.title %></h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <img src="<%= post.image%>" class="card-img-top" alt="...">
    <div class="card-body">
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  </div> -->

<%- include('partials/footer') -%>