<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <!-- displays post title from request-->
      <h2><%= post.title %></h2>
      <!-- displays post image from request -->
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">

        <!-- like button -->
        <!-- Cannot natively do put and delete requests, therefore we are using a form rather than an event listener, means that it will work even if our client's browser does not support the fetch API -->
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>

        <!-- displays posts likes -->
        <h3 class="col-3">Likes: <%= post.likes %></h3>

        <!-- if post belongs to logged in user then display delete button -->
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>

        <%}%>
      </div>
    </div>
    <!-- display post caption -->
    <div class="col-3 mt-5">
      <p><%= post.caption %></p>
    </div>
    <!-- buttons to allow user to return to their profile or the feed -->
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
