<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <div class="col-10 justify-content-between mt-5 border p-3 mb-2 bg-light text-dark">
      <h2 class="text-center"><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-outline-secondary fa fa-heart" type="submit"></button>
        </form>
        <p class="col-8 text-center">Likes: <%= post.likes %></p>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-outline-secondary fa fa-trash" type="submit"></button>
        </form>
        <div class="col-12 mt-1 text-center">
          <p><%= post.caption %></p>
        </div>
        <%}%>
      </div>
      </div>
    </div>
   
    
    <div class="mt-1">
      <h2>Add a comment</h2>
      <form action="/comment/createComment/<%=post._id%>" method="POST">
        <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <button type="submit" class="btn btn-outline-secondary">Submit</button>
      </form>
    </div>
    <ul>
      <% for(var i=0; i<comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5 border p-3 mb-2 bg-light text-darkt">
      
          <p><%= comments[i].comment%></p>
          <span class="commentSpan">Date: <%= comments[i].createdAt.toLocaleDateString("en-US")%></span>
          <p>User: <%= user.userName %></p>
    
     
  
        </li>
      <% } %>
    </ul>
    <div class="col-6 mt-5">
      <a class="btn btn-outline-secondary" href="/profile">Return to Profile</a>
      <a class="btn btn-outline-secondary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
