<%- include('partials/header', {title: post.title, page: 'post'}) -%>

<div class="container">
  <div class="row">
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>
    <% } %>
        <% if (locals.messages.success) { %>
        <% messages.success.forEach( el => { %>
            <div class="alert alert-success"><%= el.msg %></div>
        <% }) %>
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-info"><%= el.msg %></div>
        <% }) %>
    <% } %>

  </div>
  <div class="row">
		<h2><%= post.title %></h2>
    <div class="col-md">
			<div class="row justify-content-between">
        <%if(post.user.id !== user.id){ %>
         <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
       <% } %>
        </form>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <%if(post.user.id == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
			</div>
      <img class="img-fluid" src="<%= post.image%>" />
    </div>
    <div class="col-md">
      <div class="border p-3 mb-3"><h3><%= post.user.userName %>:</h3> <%= post.caption %></div>	
				<% for(var i=0; i<comments.length; i += 3) {%>
					<div class="border p-3 mb-3"><h3><%= comments[i].user.userName %>:</h3> <%= comments[i].comment %></div>
          <% } %>
			<div class="row mt-5">
				<div class="col">
        <% if (post.user.id !== user.id) { %>
                <button type="button" class="btn btn-primary mx-auto d-block mt-5" data-bs-toggle="modal" data-bs-target="#modalForm">
            Add a comment
        </button>

      <% } else { %>
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
   <% } %>


			</div>
			<div class="col">
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
    </div></div>
  </div>
  </div>

 <!-- Click on Modal Button -->

        <!-- Modal -->
        <div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add a comment to the post</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/comment/createComment" method="post">
                            <div class="mb-3">
                                <label class="form-label" for="comment">Your comment</label>
                                <input type="hidden" class="form-control" id="post" name="post" value="<%= post.id %>" />
                                <input type="hidden" class="form-control" id="user" name="user" value="<%= user.id %>" />
                              </div>
                      <textarea class="form-control col-xs-12" rows="7" cols="50" name="comment"></textarea>
                            <div class="modal-footer d-block">
                                <p class="float-start"><a href="#">Cancel</a></p>
                                <button type="submit" class="btn btn-warning float-end">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


<%- include('partials/footer') -%>
