<%- include('partials/header') -%>
  <div class="container justify-content-center mt-5 feed">
    <div class="d-flex flex-row flex-wrap">
      <div class="d-flex justify-content-center align-items-top col-md-8">
        <img class="img-fluid mt-5 mb-5" src="<%= post.image%>">
      </div>
      <div class="d-flex flex-column col m-3">
        <div class="d-flex flex-row justify-content-between">
          <h2 class="mb-0">
            <%= post.title %>
          </h2>
          <% if(post.user==user.id){ %>
            <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="align-self-center justify-self-end">
              <button class="btn btn-primary fa fa-trash" type="submit"></button>
            </form>
          <% } %>
        </div>
        <div class="flex-fill">

          <ul>
              <li class="mt-1 pb-2 border-bottom">
                <% for (let i = 0; i < users.length; i++) { %>
                  <% if (String(users[i]._id) == post.user) { %>
                    <a class="fw-bold text-reset text-decoration-none" href="/profile/<%= users[i]._id %>"> <%= users[i].userName %> </a>
                  <% } %>
                <% } %>
                <span><%= post.caption %></span>
              </li>
              
              <div class="container">
                <% for (let i=0; i < comments.length; i++) {%>
                  <li class="mt-1 comments">
                    <div class="row">
                      <div class="col-4 mx-2">
                            <% for (let j = 0; j < users.length; j++) { %>
                              <% if (String(users[j]._id) === comments[i].user) { %>
                                <a class="fw-bold text-reset text-decoration-none" href="/profile/<%= users[j]._id %>"> <%= users[j].userName %> </a>
                              <% } %>
                            <% } %>
                      </div>
                      <div class="col-7 justify-content-end">
                          <span class="small float-end"> <%= timestamps[i] %> </span>
                      </div>
                    </div>

                    <hr />

                    <div class="row mx-1">
                      <p class="text-start"> <%= comments[i].comment %> </span>
                    </div>
                  </li>
                <% } %>
            </div>
          </ul>
        </div>

        <div class="likes d-flex flex-row">
          <div class="me-2">
            <form action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
              <button class="btn btn-primary fa fa-heart" type="submit"></button>
            </form>
          </div>
          <span class="col-1 align-self-center">
            <%= post.likes %>
          </span>
        </div>

        <div>
          <form action="/comment/createComment/<%= post._id %>" method="POST">
            <div class="mt-2">
              <input type="text" class="form-control" id="comment" name="comment" placeholder="Comment">
              <div class="flex-row">

                <button type="submit" class="btn btn-primary mt-2">Post</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col-6 mt-5">
    <a class="btn btn-primary" href="/profile">Return to Profile</a>
    <a class="btn btn-primary" href="/feed">Return to Feed</a>
  </div> -->

  <%- include('partials/footer') -%>