<%- include('partials/header') -%>
<main class="container mx-auto">
	<div class="row justify-content-center mt-5">
		<div class="mb-6">
			<h1 class="font-bold text-3xl mb-6"><%= post.title %></h1>
			<img class="img-fluid mb-4" src="<%= post.image%>" />
			<div class="text-xl mb-6">
				<p><%= post.caption %></p>
			</div>
			<div class="flex justify-between text-gray-600">
				<div class="flex gap-2">
					<form class="col-1" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
						<button class="btn btn-primary fa fa-heart" type="submit"></button>
					</form>
					<h3 class="col-3">Likes: <%= post.likes %></h3>
				</div>
				<% if (post.user == user.id) { %>
				<form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="col-3">
					<button class="btn btn-primary fa fa-trash" type="submit"></button>
				</form>
				<%}%>
			</div>
		</div>
		<div class="container">
			<form action="/comment/addComment/<%= post._id %>" method="POST" class="mb-9">
				<div class="mb-6">
					<label for="comment" class="block mb-2">Add a new comment</label>
					<textarea
						name="comment"
						id="comment"
						class="border border-gray-400 p-1 rounded-md w-full"
						rows="5"
					></textarea>
				</div>
				<button class="bg-orange-400 text-white hover:bg-orange-500 rounded-full px-12 py-3">
					Add
				</button>
			</form>
			<% if (!comments.length) { %>
			<p>No comments yet</p>
			<% } %>
			<ul>
				<% comments.forEach(comment=> { %>
				<li class="border-b py-3">
					<div class="text-gray-600 text-sm flex justify-between">
						<div>
							<span class="font-semibold"><%= comment.userName %></span>
							<span class="ml-auto"> <%= comment.createdAt.toLocaleString() %> </span>
						</div>
						<% if (comment.userId == user.id) { %>
						<form action="/comment/deleteComment/<%= comment._id %>?_method=DELETE" method="POST">
							<button class="fa fa-trash" type="submit"></button>
						</form>
						<%}%>
					</div>
					<p><%= comment.comment %></p>
				</li>
				<% }) %>
			</ul>
		</div>
		<div class="col-6 mt-5">
			<a class="btn btn-primary" href="/profile">Return to Profile</a>
			<a class="btn btn-primary" href="/feed">Return to Feed</a>
		</div>
	</div>
</main>

<%- include('partials/footer') -%>
