<%- include('partials/header') -%>
  <div class="container">
    <div class="col-12 mt-3 d-flex justify-content-end">
      <a class="btn btn-primary me-3" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
    <div class="row mt-5">
      <div class="col-12 d-flex justify-content-center">
        <img class="img-fluid" src="<%= post.image%>" />
      </div>
      <div class="col-12">
        <div class="row mt-5">
          <div class="col-md-9 col-sm-12 ">
            <h2>
              <%= post.title %>
            </h2>
            <p>
              <%= post.caption %>
            </p>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="row">
              <h4 class="col-8 d-flex justify-content-end">Likes: <%= post.likes %>
              </h4>
              <form class="col-1 mx-2" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
                <button class="btn btn-primary fa fa-heart" type="submit"></button>
              </form>
              <%if(post.user==user.id){ %>
                <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="col-1 mx-2">
                  <button class="btn btn-primary fa fa-trash" type="submit"></button>
                </form>
                <%}%>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12" style="border: 5px solid white;">
        <h4>Comments</h4>
        <form action="/comment/createComment/<%= post.id %>" method="POST" class="">
          <div class="row ">
            <label for="comment" class="sr-only">Comments</label>
            <input type=" text" class="col-md-10 col-sm-12 " id="comment" placeholder="New comment" name="comment">
            <button type="submit" class="btn btn-primary col-md-2 col-sm-12 ">Submit</button>
          </div>
        </form>
        <div class="row justify-content-center ">
          <ul class="row list-unstyled">
            <% for(var i=0; i<comments.length; i++) {%>
              <li class="col-12 justify-content-between mt-4 p-3 border border-light rounded">
                <%= comments[i].comment %>
              </li>
              <% } %>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <%- include('partials/footer') -%>