<!DOCTYPE html>
<html lang="en" data-theme="aqua">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HìnH</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
<div class="navbar bg-base-100">
  <div class="navbar-centerCnter">
    <a class="btn btn-ghost normal-case text-5xl">HìnH</a>
  </div>
</div>
      <!-- <div class="rowRow "> -->
        <!-- <div class="row artboard artboard-horizontal phone-6">
          <h2><%= post.title %></h2>
          <img class="img-fluid" src="<%= post.image%>" />
          <div class="grid h-20 card bg-base-300 rounded-box">
            <form
              class="col-1"
              action="/post/likePost/<%= post.id %>?_method=PUT"
              method="POST"
            >
              <button class="btn btn-primary fa fa-heart" type="submit"></button>
            </form>
            <h3 class="col-3">Likes: <%= post.likes %></h3>
            <%if(post.user == user.id){ %>
            <form
              action="/post/deletePost/<%= post.id %>?_method=DELETE"
              method="POST"
              class="col-3"
            >
              <button class="btn btn-primary fa fa-trash" type="submit"></button>
            </form>
            <%}%>
          </div>
        </div>
        <div class="col-3 mt-5">
          <p><%= post.caption %></p>
        </div> -->
        <main class="megaMega">

        <div class="col-6mt-5">
          <a class="btn btn-primary" href="/profile/<%= user.id %>">Return to Profile</a>
          <a class="btn btn-primary" href="/feed/<%= user.id %>">Return to Feed</a>
        </div>


          <div class="rowRowRow">
            <ul class="row artboard artboard-horizontal phone-6">
                <div class="spicyTwo">
                  <div class="grid h-20 card bg-base-300 rounded-box">
                    <h3><a class="userNameFont"href=""><%= post.userName %></a></h3>
                    <span class="captionFont"><%= post.caption %></span>
                  </div> 
                <li class="spicy">
                  <a href="">
                    <img class="img-fluid" src="<%= post.image%>">

                    
                 <div class="row justify-content-between">
                   <form
                   class="col-1"
                   action="/post/likePost/<%= post.id %>?_method=PUT"
                   method="POST"
                   >
                     <button class="btn btn-primary fa fa-heart" type="submit"></button>
                   </form>
                   <span class="col-3">Likes: <%= post.likes %></span>
                   <%if(post.user == user.id){ %>
                   <form
                   action="/post/deletePost/<%= post.id %>?_method=DELETE"
                   method="POST"
                   class="col-3"
                   >
                     <button class="btn btn-primary fa fa-trash" type="submit"></button>
                   </form>
                   <%}%>
                 </div>

                  </a>
        
                </li>
                </div>
              </ul>
          </div>
          
          <!-- <div class="addAComment">
            <h2>Add a comment</h2>
            <form action="/comment/createComment/<%=post._id%> " method="POST">
              <div class="mb-3">
                  <input type="text" class="form-control" id="comment" name="comment">
              </div>
              <button type="submit" class="btn btn-primary" >Submit</button>
            </form>
          </div> -->
          <div class="addAComment" >
          <div class="form-control contol">
            <form action="/comment/createComment/<%=post._id%> " method="POST">
            <label>
              <span class="label-text">Add a comment</span>
            </label>
            <label class="input-group input-group-vertical">
              <input type="text" class="input input-bordered" id="comment"  name="comment"/>
            </label>
            <div class="mega">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
          </div>
          </div>


<div class="commentsSU">
<ul >
  <% for(var i=0; i<comments.length; i++) {%>
    <div class="flex flex-col">
      <div class="grid h-20 card bg-base-300 rounded-box">
        <h3><a class="commentFont"href="">  <%= comments[i].userName%></a></h3>
        <span class="commentCaptionFont"><%= comments[i].comment%></span>
      </div>

      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/comment/likeComment/<%= post.id %>/<%=comments[i]._id%>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <span class="col-3">Likes: <%= comments[i].likes %></span>
        <%if(comments[i].user == user.id){ %>
        <form
          action="/comment/deleteComment/<%= post.id %>/<%=comments[i]._id%>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>

    </div>


  
  <% } %>
</ul>
</div>
</main>
    <%- include('partials/footer') -%>
  </body>
  
<script src="https://cdn.tailwindcss.com"></script>
</html>

