<%- include('partials/navbarHeader') -%>

<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-12 col-md-6">
      <div class="card text-center mt-3 mb-md-3">
        <h2 class="my-2 fw-bold"><%= post.title %></h2>
        <div class="img-container bg-secondary">
          <img
            class="post-img img-fluid"
            src="<%= post.image%>"
          />
        </div>
        <div class="card-text-container text-start">
          <div class="d-flex justify-content-between">
            <div class="">
              <form
                action="/post/likePost/<%= post.id %>?_method=PUT"
                method="POST"
              >
                <button
                  class="btn btn-outline-primary"
                  type="submit"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    width="25px"
                    height="25px"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                    />
                  </svg>
                  <span> <%= post.likes %> likes</span>
                </button>
              </form>
            </div>
            <div>
              <%if(post.user._id == user.id){ %>
              <form
                action="/post/deletePost/<%= post.id %>?_method=DELETE"
                method="POST"
              >
                <button
                  class="btn btn-outline-danger"
                  type="submit"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    width="25px"
                    height="25px"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                    />
                  </svg>
                </button>
              </form>
              <%}%>
            </div>
          </div>
          <div class="h4 mt-3">
            <a
              class="text-decoration-none"
              href="/publicProfile/<%=post.user._id%>"
              ><%= post.user.userName%></a
            >
          </div>
          <p><%= post.caption %></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card mt-3 mb-3">
        <div class="profile-title">Comments</div>
        <div class="card m-1">
          <form
            class="d-flex flex-row justify-content-between"
            action="/comment/createComment/<%= post.id %>"
            method="POST"
          >
            <div class="form-group col">
              <input
                class="form-control"
                type="text"
                placeholder="Submit comment"
                name="comment"
              />
            </div>
            <button class="btn btn-outline-primary" type="submit">Submit</button>
          </form>
        </div>
        <% for(var i=0; i < comments.length; i++) {%>
        <div
          class="card comment-container m-1 p-1 d-flex flex-row justify-content-between"
        >
          <div>
            <%= comments[i].comment %>
            <div>
              <small>
                <span class="fst-italic">
                  <%= comments[i].createdAt.toString().slice(0, 10) %>
                </span>
                <span> | </span>
                <span> <%= comments[i].likes %> likes </span>
              </small>
            </div>
          </div>
          <div class="d-flex flex-row align-items-center gap-2">
            <form
              action="/comment/likeComment/<%= comments[i]._id %>?_method=PUT"
              method="POST"
            >
              <button
                class="btn btn-outline-primary"
                type="submit"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  width="25px"
                  height="25px"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                  />
                </svg>
              </button>
            </form>
            <form
              action="/comment/deleteComment/<%= comments[i]._id %>?_method=DELETE"
              method="POST"
            >
              <button
                class="btn btn-outline-danger"
                type="submit"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  width="25px"
                  height="25px"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                  />
                </svg>
              </button>
            </form>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
