<%- include('partials/headers/header-menu') -%>

<main class="container">
  <section class="container-section-post">
    <section class="section-profile-post">
      <section class="nav-profile-post">
        <img class="img-fluid" src="<%= post.image.profile %>" />
        <h2><%= post.player %></h2>
      </section>
     
      <section class="section-table-post">
        <%if(post.user == user.id){ %>
          <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </section>
    </div>
    <div class="col-3 mt-5">
      <p><%= post.caption %></p>
    </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </section>
  </section>
</main>

<%- include('partials/footer') -%>
