<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= post.caption %></p>
      <h2><%= post.address %></h2>
    </div>
    
    <div class="mt-5">
      <h2>Add a Comment</h2>
      <form action="/comment/createComment/<%=post._id%>"  method="POST">
        <div class="mb-3">
            
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
      </form>
    </div>
    <ul> 
      <!--createdById not showing up in DB as a argument. Is in Schema. Not Priority bug for MVP-->
      <% for(var i=0; i<comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
         User <%= comments[i].createdBy%> says: "<%= comments[i].comment%>"
         <!-- Conditinal doesn't work due to createdById bug. Line 48 should be === user.id Refrenced line 43 and models/comments.js-->
         <% if( comments[i].createdById == user.userame) {%>
          <p> <%= comments[i].createdById %></p>
          <p><%= user.id %></p>
         <form
          action="/comment/deleteComment/<%= post._id %>/<%= comments[i]._id %>?_method=DELETE"
          method="POST"
          class="col-3"
          >
          <button class="btn btn-outline-danger" type="submit">Delete</button>
        </form>
        <%}%>
        </li>
       
      <% } %>
    </ul>
    <div class="mt-5">
      <h2>Add a Inventory item</h2>
      <!-- inventoryItem is a server req, response is InventoryRoutes. Routes calls the controller, which provides the creteInventoryItem function -->
      <form action="/inventoryItem/createInventoryItem/<%=post._id%>"  method="POST">
        <div class="mb-3">
            <input type="number" class="form-control" id="amount" name="amount">
            <input type="text" class="form-control" id="tool" name="tool">
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
      </form>
    </div>
    <ul> 
      <% for(var i=0; i<inventory.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <!-- for loop. Grabs the amount object in model & tool object in schema.-->
          <%= inventory[i].amount + " " + inventory[i].tool%>
        </li>
      <% } %>
    </ul>
    <h2>Todos</h2>
    <form action="/todos/createTodo/<%=post._id%>" method='POST'>
      <input type="text" placeholder="Enter Todo Item" name='todoItem'>
      <input type="submit">
    </form>
      <ul>
      <% todo.forEach( el => { %>
              <li class='todoItem' data-id='<%el._id%>'>
                  <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                  <!-- el._id in action(line 93) replaces todo._id as these todos are generated via forEach loop(i think. it works)-->
                  <form
                  action="todos/deleteTodo/<%= post._id %>/<%=el._id %>?_method=DELETE"
                  method="POST"
                  class="col-3"
                  >
                 <p> <%= el._id %> </p>
                  <button class="btn btn-outline-danger" type="submit">Delete</button>
                </form>
                   
                   
              </li>
      <% }) %>    
      </ul>
      
  
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
