<%- include('partials/header') -%>
<div class="container">
  <div class="d-flex row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
        <form
          action="post/upvote/<%= post.id %>"?_method=PUT
          <button class="btn btn-primary fa fa-thumbs-up" type="submit"></button>
        </form>
        <form
          action="/post/downvote/<%= post.id %>?_method=PUT"
          <button class="btn btn-primary fa fa-thumbs-down" type="submit"></button>
      </form>
        <h3 class="col-3">Coolness Index: <%= post.voteCount %></h3>
        <%if(post.user.id == user._id){%>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= post.caption %></p>
    </div>
    <div class="row">
      <form
        action="/comment/createComment/<%= post.id %>/"
        method="POST"
      >
      <div class="mb-3">
        <label for="text" class="form-label">What do you think?</label>
        <textarea class="form-control" id="text" name="text"></textarea>
      </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
    <div>
      <% if(post.comments.length < 1) {%>
      <h3>No comments yet</h3>
      <% } else {%>
        <%- include('partials/comments') -%>
      <% } %>
    </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
