<%- include('partials/header', {title: post.title, page: 'post'}) -%>

<div class="container">
  <div class="row">
    <% if (locals.messages.error) { %>
			<% messages.error.forEach( el => { %>
				<div class="alert alert-danger"><%= el.msg %></div>
			<% }) %>
    <% } %>
			<% if (locals.messages.success) { %>
			<% messages.success.forEach( el => { %>
				<div class="alert alert-success"><%= el.msg %></div>
			<% }) %>
    <% } %>
    <% if (locals.messages.info) { %>
			<% messages.info.forEach( el => { %>
				<div class="alert alert-info"><%= el.msg %></div>
			<% }) %>
    <% } %>
  </div>

  <div class="row">
    <h2><%= post.title %></h2>
    <div class="col-md">
      <div class="row justify-content-between">
        <div class="liked d-flex align-items-baseline">
          <h3 class="col-3">Likes: <%= post.likes %></h3>
          <%if(post.user.id !== user.id && !post.likedUsers.includes(user.id)){ %>
						<form class="col-1" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
							<input type="hidden" name="commenter" value="<%= user.id %>" />
							<button class="btn btn-primary fa fa-heart" type="submit"></button>
						</form>
          <% } else {  %> <span class="small alert-success">You liked it</span> <% } %>
        </div>

        <%if(post.user.id == user.id){ %>
        <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="col-3">
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
			</div>
      <img class="img-fluid" src="<%= post.image%>" />
      </div>
      <div class="col-md">
        <div class="card p-3 mb-2 border-primary">
					<div class="d-flex justify-content-between align-items-center">
							<h4 class="title"><%= post.user.userName%></h4> 
							<small><%= post.createdAt.toLocaleDateString().slice(0,10) %></small>
						</div>
          <p class="user d-flex flex-row align-items-center commentText"><%= post.caption %></p>
        </div>
        <% for(var i=0; i<comments.length; i++) {%>
            <div class="card p-3 mb-2">
							<div class="d-flex justify-content-between align-items-center">
								<h4 class="title"><%= comments[i].user.userName%></h4> 
								<small><%= comments[i].createdAt.toLocaleDateString().slice(0,10) %></small>
              </div>
            	<!-- be sure to keep .commentText here -->
              <p class="user d-flex flex-row align-items-center commentText"><%= comments[i].comment %></p>
							<div class="action d-flex justify-content-between mt-2 align-items-center">
								<% if(comments[i].user.id === user.id) { %>
									<a href="#!" class="link-muted editComment" data-bs-toggle="modal" data-bs-target="#myModal" data-bs-id="<%= comments[i].id %>">
										<i class="fas fa-pencil-alt ms-2"></i>
									</a>

                  <div class="reply px-4">
                    <a href="#!" class="link-muted text-danger" data-bs-toggle="modal" data-bs-target="#myModal" data-bs-id="<%= comments[i].id %>">
                      <i class="fas fa-trash"></i>
										</a>
                  </div>

                  <% } else { %>
                    <%if(post.user.id !== user.id && !comments[i].likedUsers.includes(user.id)){ %>
                      <form class="col-1" action="/comment/likeComment/<%= comments[i].id %>?_method=PUT" method="POST">
                        <input type="hidden" name="commenter" value="<%= user.id %>" />
                        <input type="hidden" name="post" value="<%= post.id %>" />
                        <button class="btn btn-primary fa fa-heart" type="submit"></button>
                      </form>
                    <% } else { %>


                     <span class="small alert-success">You liked this</span>

                  <span class="reply px-4">
                        <%= comments[i].likes %>  Like
                  </span>

                     <% } %>

                  <% } %>

                      </div>
            </div>

          <% } %>
          <div class="row mt-5 justify-content-around">
            <% if (post.user.id !== user.id) { %>
            <button type="button" class="btn btn-primary col-3 addComment" data-bs-toggle="modal" data-bs-target="#myModal">
              Add a comment
            </button>

            <% } else { %>
            <a class="btn btn-primary col-3" href="/profile">Return to Profile</a>
            <% } %>
            <a class="btn btn-primary col-3" href="/feed">Return to Feed</a>
          </div>

        </div>
      </div>
    </div>

		<%- include('partials/modal') %>

    <%- include('partials/footer', {script: '/js/modal.js'}) %>
