<%- include('partials/headerSignedIn') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class='col-md-6'>
        <div class="card m-3">
          <img class="card-top" src='<%= post.image%>'>
          <div class="card-body">
            <h2 class="card-title"><%= post.title %></h2>
            <p class="card-text"><%= post.caption %></p>
          </div>
          <div class="card-footer d-flex justify-content-between align-items-center">
            <form class="" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
              <button class="btn btn-primary fa fa-cat" type="submit"></button>
            </form>
            <p class="card-text text-muted mb-0">Pets: <%= post.likes %>
            <%if(post.user==user.id){ %>
              <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="d-flex justify-content-end">
                <button class="btn btn-primary fa fa-trash" type="submit"></button>
              </form>
              <%}%>
          </div>
        </div>
        <div class='col-md-6'>
          <h5 class="mx-3">Comments:</h5>
        </div>
      
    </div>
    <div class="container d-flex justify-content-between align-items-center my-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>

  <%- include('partials/footer') -%>