<%- include('partials/navbarHeader') -%>

<div class="container row justify-content-center mt-5">
  <!-- Title, image, caption, username -->
    <h2 class="centerContent"> <%= post.title %></h2>
    <img id="postImageCenter" class="img-fluid centerContent" src="<%= post.image%>" />
    <p class="centerContent"><%= post.caption %></p>
    <a class="centerContent" href="/publicProfile/<%=post.user._id%>"><%= post.user.userName%></a>

  <!-- Like post button, # of likes displayed, Delete post button -->
  <div class="justify-content-between">
    <form
      class="centerContent"
      action="/post/likePost/<%= post.id %>?_method=PUT"
      method="POST"
      >
      <button class="btn btn-primary fa fa-heart" type="submit"></button>
    </form>
    <h3 class=" centerContent likesText">Likes: <%= post.likes %></h3>
      <%if(post.user._id == user.id){ %>  
      <%}%>
    <form
      class="centerContent"
      action="/post/deletePost/<%= post.id %>?_method=DELETE"
      method="POST"
      >
      <button class="btn btn-primary fa fa-trash" type="submit"></button>
    </form>
  </div>

  <!-- form to submit comment -->
  <form 
    class="centerContent" 
    action = "/comment/createComment/<%= post.id %>" 
    method="POST"
    >
    <input type="text" placeholder="Submit comment" name="comment">
    <button type="submit">Submit</button>
  </form>
  <!--end of form -->
      
  <!-- start of comments -->
  <div class="centerContent">
    <% for(var i=0; i<comments.length; i++) {%>
      <span class="col-6 justify-content-between">
        <%= comments[i].comment %>
        <br>
          Posted:  <%= comments[i].createdAt %>
        <br>
          Likes:  <%= comments[i].likes %>
        <br>
        <form
          class="centerContent"
          action="/comment/likeComment/<%= comments[i]._id %>?_method=PUT"
          method="POST"
          >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <form
          class="centerContent"
          action="/comment/deleteComment/<%= comments[i]._id %>?_method=DELETE"
          method="POST"
          >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
      </span>
    <% } %>
  </div>
  <!-- end of comments -->
      
  <div class="centerContent">
    <a class="btn btn-primary" href="/profile">Return to Profile</a>
    <a class="btn btn-primary" href="/feed">Return to Feed</a>
  </div>
</div>

<%- include('partials/footer') -%>
