<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <h2><%= post.title %></h2>
      <img class="img-fluid mx-auto d-block" src="<%= post.image%>" />
      <div class="row justify-content-around">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col col-md-6 col-lg-4 text-end">Likes: <%= post.likes %></h3>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button
            class="btn btn-primary fa fa-trash float-end"
            type="submit"
          ></button>
        </form>
        <%}%>
      </div>
      <div class="col-6 mt-5 mx-auto">
        <p class="text-center"><%= post.caption %></p>
      </div>
    </div>

    <div class="col mt-5">
      <h2>Add a comment</h2>
      <form action="/comment/createComment/<%=post._id%>" method="POST">
        <div class="mb-3">
          <label for="comment" class="form-label">Comment</label>
          <input
            type="text"
            class="form-control"
            id="comment"
            name="comment"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <ul class="list-unstyled">
      <%comment.forEach(comm => {%>
        <%if(String(comm.userId) == user._id){%>
          <li class="mt-5">
            <span>
              <%=user.userName%>:
            </span>
            <span>
              <%= comm.comment%>
            </span>
            <a class="btn btn-primary btn-sm float-end" data-id="<%=comm._id%>" href="/comment/deleteComment/<%=comm._id%>/<%=post.id%>?_method=DELETE">Delete</a>
          </li>
        <%}else{%>
          <%allUser.forEach(users => {%>
            <%if(String(users._id) == comm.userId){%>
              <li class="mt-5">
                <span>
                  <%=users.userName%>:
                </span>
                <span>
                  <%= comm.comment%>
                </span>
              </li>
            <%}%>
          <%})%>
        <%}%>      
      <%})%>
      </ul>
    </div>

    <div class="col-12 mt-5 text-center">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
