<%- include('partials/header') -%>
<div class="">
  <div class="">
      <div class="">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="">Logout</a>
          </div>
          <div class="">
            <h2>Add a post</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="">
                  <label for="title" class="">Title</label>
                  <input type="text" class="" id="title" name="title">
              </div>
              <div class="">
                <label for="caption" class="">Caption</label>
                <textarea class="" id="caption" name="caption"></textarea>
              </div>
              <div class="">
                <label for="imgUpload" class="">Image</label>
                <input type="file" class="" id="imageUpload" name="file">
              </div>
              <button type="submit" class="" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="">
        <ul class="">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="">
          <a class="" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>