<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <div>
        <%- include('partials/userDetails') -%>
        <a
          href="/logout"
          class="col-3 btn btn-primary"
          >Logout</a
        >
      </div>
          <!-- adding pic -->
          <img src="<%= profile[0] == undefined ? 'https://images.dog.ceo/breeds/shiba/shiba-13.jpg' : profile[0].image%>" alt="">
          <!-- adding pic -->
          <!-- profile picture upload-->
          <div class="mt-5">
            <h2>Change profile picture</h2>
            <form action="<%= profile[0] == undefined ? '/post/createProfilePic?_method=POST' : '/post/createProfilePic?_method=PUT' %>" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="file" class="form-label"></label>
                  <input type="file" class="form-control" name="file" required>
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
        <!-- end profile picture -->
<<<<<<< HEAD

        <!-- audio player editor -->
=======
        <!-- audio player/editor -->
>>>>>>> ac686934591dda022baf4734610461a6d06a7d02
        <figure>
          <audio controls="controls">
            <source src="<%= profile[0].profileSong == undefined ? 'https://docs.google.com/uc?export=download&id=0B-klwLEjaXWcZHR5SmJJWEwtYnc' : profile[0].profileSong %>">
          </audio>
        </figure>
        <div class="mt-5">
          <h2>Change profile music</h2>
          <form action="<%= profile[0] == undefined ? '/post/createProfileSong?_method=POST' : '/post/createProfileSong?_method=PUT' %>" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
                <label for="file" class="form-label"></label>
                <input type="file" class="form-control" name="file" required>
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
          </form>
        </div>
<<<<<<< HEAD
        <!-- end audio player -->
=======
         <!-- end audio player/editor -->
>>>>>>> ac686934591dda022baf4734610461a6d06a7d02
      <div class="mt-5">
        <h2>Add a post</h2>
        <form
          action="/post/createPost"
          enctype="multipart/form-data"
          method="POST"
        >
          <div class="mb-3">
            <label
              for="title"
              class="form-label"
              >Title</label
            >
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
            />
          </div>
          <div class="mb-3">
            <label
              for="caption"
              class="form-label"
              >Caption</label
            >
            <textarea
              class="form-control"
              id="caption"
              name="caption"
            ></textarea>
          </div>
          <div class="mb-3">
            <label
              for="imgUpload"
              class="form-label"
              >Image</label
            >
            <input
              type="file"
              class="form-control"
              id="imageUpload"
              name="file"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            value="Upload"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
    <div class="col-6">
      <ul class="row list-unstyled">
        <% for(var i=0; i < posts.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <a href="/post/<%= posts[i]._id %>">
            <img
              class="img-fluid"
              src="<%= posts[i].image%>"
            />
          </a>
        </li>
        <% } %>
      </ul>
      <div class="row justify-content-center mt-5">
        <a
          class="btn btn-primary"
          href="/feed"
          >Return to Feed</a
        >
      </div>
    </div>
    <%- include('partials/following') -%> <%- include('partials/followers') -%>
  </div>
</div>
<%- include('partials/footer') -%>
