<%- include('partials/header') -%>
<div class=" bg-gradient"
style="
background-color: black;
height: 100vh;
">
  <section class="container">
  <div class="">
      <div class="row list-unstyled">

          <div class="text-center mt-5 pt-5">
              <p class="text-light"><strong class="text-light">User Name</strong>: <%= user.userName %></p>
              <a href="/logout" class=" btn btn-outline-light btn-sm shadow">Logout</a>
          </div>

      </div>

      
      <div class="mt-5">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5 text-center">
            <a class="card  shadow border rounded"
            style="background-color:black;
            text-decoration: none;
            color: whitesmoke;
            " 
            href="/post/<%= posts[i]._id%>">
              <p>"<%= posts[i].title%>"</p>
              <p>"<%= posts[i].caption%>"</p>
            </a>
          </li>
        <% } %>
        </ul>
        <div class="text-center mt-5">
          <a class="btn btn-outline-light btn-lg shadow" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
  </section>
</div>
<%- include('partials/footer') -%>