<%- include('partials/header', {title: "Your Profile", page: 'profile'}) -%>
<div class="container">
	<div class="d-flex border justify-content-between p-3">
			<p><strong>User Name</strong>: <%= user.userName %></p>
			<p><strong>Email</strong>: <%= user.email %></p>
			<a class="btn btn-primary" href="/feed">Return to Feed</a>
	</div>
	<div class="row row-cols-md-2">
		<div class="mt-5">
				<h2>Add a post</h2>
				<form action="/post/createPost" enctype="multipart/form-data" method="POST">
					<div class="mb-3">
							<label for="title" class="form-label">Title</label>
							<input type="text" class="form-control" id="title" name="title">
					</div>
					<div class="mb-3">
						<label for="caption" class="form-label">Caption</label>
						<textarea class="form-control" id="caption" name="caption"></textarea>
					</div>
					<div class="mb-3">
						<label for="imgUpload" class="form-label">Image</label>
						<input type="file" class="form-control" id="imageUpload" name="file">
					</div>
					<button type="submit" class="btn btn-primary" value="Upload">Submit</button>
				</form>
    </div>
		<div class="mt-5">
			<h2>My posts</h2>
			<div class="row">
				<% let len = posts.length %>
				<% let middle = len ? len / 2 : 0 %>

					<% for(let i=0; i<len; i++) {%>
				<div class="mb-4 mb-lg-0 col-lg">
						<% if(posts[i].image) { %>
						<a href="/post/<%= posts[i]._id%>">
							<img class="w-100 shadow-1-strong rounded mb-4" src="<%= posts[i].image%>">
						</a>
						<% } else { %>
						<p class="post wf-100">
							<span class="postTitle"><%= posts[i].title %></span>
							<span class="postCaption"><%= posts[i].caption %></span>
							<button type="button" class="btn btn-primary">Edit</button>
						</p>
						<% } %>
							</div>
					<% } %>
			</div>

		</div>
  </div>
</div>
<%- include('partials/footer') -%>
