<%- include('partials/headers/header-menu') -%>

  <main class="container profile-main-container">
    <section class="profile-section-container">
      <ul class="profile-first-list">
        <li class="profile-item">
          <h2 class="profile-names">
            <%= user.userName %>
          </h2>
          <span class="profile-tags">username</span>
        </li>
        <li class="profile-item">
          <h2 class="profile-names">
            <%= user.email %>
          </h2>
          <span class="profile-tags">email</span>
        </li>
      </ul>
      <ul class="profile-second-list">
        <li class="profile-item">
          <ul class="profile-third-list">
            <li class="profile-list-item">
              <% if (user.leagues.length> 0) { %>
                <% user.leagues.forEach(el=> { %>
                  <form class="" action="/profile/deleteLeague/<%= user.id %>?_method=DELETE" method="POST">
                    <button class="btn  profile-btns" type="submit" name="league" value="<%= el.league%>">
                      <%= el.league %>
                        <i class="fa-solid fa-circle-xmark"></i>
                    </button>

                  </form>
                  <% })} else { %>
                    <h2 class="profile-headings"> N/A </h2>
            </li>
            <% } %>
              <li class="profile-item-form-button">
                <span class="profile-tags"> my leagues</span>
                <button class="btn  profile-btns" type="submit" data-toggle="modal" data-target="#add-league">
                  add league
                  <i class="fa-solid fa-circle-plus fa-lg"></i>
                </button>
              </li>
          </ul>
        </li>
        <li class="profile-item">
          <ul class="profile-third-list">
            <li class="profile-list-item">
              <% if (user.teams.length> 0) { %>
                <% user.teams.forEach(el=> { %>
                  <form class="" action="/profile/deleteTeam/<%= user.id %>?_method=DELETE" method="POST">
                    <button class="btn  profile-btns" type="submit" name="team" value="<%= el.team%>">
                      <%= el.team %>
                        <i class="fa-solid fa-circle-xmark"></i>
                    </button>
                  </form>
                  <% })} else { %>
                    <h2 class="profile-headings"> N/A </h2>
            </li>
            <% } %>
              <li class="profile-item-form-button">
                <span class="profile-tags"> my teams</span>
                <button class="btn  profile-btns" type="submit" data-toggle="modal" data-target="#add-team">
                  add team
                  <i class="fa-solid fa-circle-plus fa-lg"></i>
                </button>
              </li>
          </ul>
        </li>
      </ul>
    </section>
  </main>
  <%- include('partials/league-modal') -%>
    <%- include('partials/team-modal') -%>
      <%- include('partials/footer') -%>