<%- include('partials/header') -%>
<%- include('partials/nav') -%>

<main class="container profile">
  <!--row containing the create post and activity sections-->
  <div class="row mt-5">
    <h2>Welcome, <%= user.userName %>.</h2>
    <!--section to create new post-->
    <section class="mt-5 col-6">
      <h3>Request Feedback</h3>
      <form action="/post/createPost" enctype="multipart/form-data" method="POST">
        <div class="mb-3">
          <!--title-->
          <input type="text" class="form-control" id="title" name="title" placeholder="Title of Work">
          <!--description-->
          <textarea class="form-control" id="description" name="description" placeholder="Description"></textarea>
          <!--medium-->
          <input type="text" class="form-control" id="medium" name="medium" placeholder="Medium / Materials / Applications Used">
          <!--location created-->
          <input type="text" class="form-control" id="location" name="location" placeholder="Location created">
          <!--file-->
          <input type="file" class="form-control" id="image" name="file">
          <!--date created-->
          <div class="form-control">
            <label for="dateCreated">Date Created</label>
            <input type="date" id="dateCreated" name="dateCreated">
          </div>
        </div>
        <button type="submit" class="btn">Submit</button>
      </form>
    </section>
    <!--section for activity feed (likes, comments)-->
    <section class="mt-5 col-6">
      <h3>Activity feed</h3>
      <p>This area will soon feature comments and likes from other users on your posts.</p>
      <ul class="row list-unstyled">
        <!--edit the code below to show aggregate list of comments and likes on logged in user's posts -->
        <!-- <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %> -->
      </ul>
    </section>
  </div>
  <!--row containing posts created by the logged in user-->
  <section class="userPosts row mt-5">
    <ul class="row list-unstyled">
      <% for(var i=0; i<posts.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <a href="/post/<%= posts[i]._id%>">
            <div class="fullwrap">
              <img class="img-fluid" src="<%= posts[i].image%>">
              <div class="fullcap">
                <section class="postData">
                  <div class="postHead">
                    <h3><%= posts[i].title %></h3>
                    <p class="desc">"<%= posts[i].description%>"</p>
                  </div>
                  <!--likes-->
                  <%if(posts[i].likes == 1){ %>
                    <span class="likes"><i class="fa fa-heart"></i>  <%= posts[i].likes %> Like</span>
                  <%} else if (posts[i].likes > 1){%>
                    <span class="likes"><i class="fa fa-heart">  </i>  <%= posts[i].likes %> Likes</span>
                  <%}%>
                </section>
              </div>
            </div>
          </a>
        </li>
      <% } %>
    </ul>
  </section>
</main>
<%- include('partials/footer') -%>