<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong><%= user.userName %></strong></p>
                <img class="img-thumbnail" src="/imgs/profile.png" alt="profile" width="100" height="200">
              <!-- <p><strong>Email</strong>: <%= user.email %></p> -->
              <a href="/logout" class="col-3 btn btn-primary rounded-md shadow">logout</a>
          </div>
              <a class="btn btn-primary rounded-md shadow" href="/upload">upload</a>
      </div>
      <div class="col-6">
        <h2 class="">pattern collection</h2>
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5 rounded-md shadow mt-3 sm:mt-0 sm:ml-3">
          <a class="btn btn-primary hover:bg-indigo-800 px-8 py-2.5" href="/feed">main collection</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>