<%- include('partials/header') -%>

<div class="container-fluid mr-2.5" style="display: flex; justify-content: end">
  <a href="/profile">
    <h1><%= user.userName %></h1>
  </a>
</div>

<div style="display: flex; flex-direction: column; align-items: center">
  <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100 mb-3.5">
    <div class="card-body">
      <h2 class="font-bold">Add a post</h2>
      <form action="/post/createPost" enctype="multipart/form-data" method="POST">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Title</span>
          </label>
          <input type="text" placeholder="Post title" id="title" name="title" class="input input-bordered" />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Caption</span>
          </label>
          <textarea id="caption" name="caption" class="textarea textarea-bordered">Tell everyone about your post</textarea>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Image</span>
          </label>
          <input type="file" id="imageUpload" name="file" class="input" />
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary">Post</button>
        </div>
      </form>
    </div>
  </div>

  <div style="display: flex; flex-direction: column; align-items: center">
    <% for(var i=0; i<posts.length; i++) {%>
      <div class="card w-96 bg-base-100 shadow-xl mb-2.5">
        <figure>
          <a href="/post/<%= posts[i]._id%>">
            <img class="img-fluid" src="<%= posts[i].image%>">
          </a>
        </figure>
        <div class="card-body">
          <h2 class="card-title"><%= posts[i].title %></h2>
          <p><%= posts[i].caption %></p>
          <div class="card-actions justify-end">
            <a href="/post/<%= posts[i]._id%>" class="btn btn-primary">View post</a>
          </div>
        </div>
      </div>
    <% } %>
  </div>

  <div class="row justify-content-center mt-5 mb-5">
    <a class="btn btn-primary" href="/feed">Return to Feed</a>
  </div>
  
</div>

<%- include('partials/footer') -%>