<%- include('partials/header') -%>
<!--Showcase-->
<section class="bg-dark text-light p-5  text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center
    justify-content-between">
      <div>
        <h1>What Do You Want to <span class="text-warning">Hit?</span></h1>
        <p class="lead my-4">
          Don't know what exercise to do? Check out below and find something new! 
        </p>
        <button class="btn btn-primary btn-lg">Pick Your Muscles!</button>
      </div>
      <img class="img-fluid w-25 d-none d-sm-block" src="https://scontent-hou1-1.xx.fbcdn.net/v/t1.6435-9/119143197_142687670870271_4969940857036332427_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=lyrUaPSh94YAX8_QW9j&_nc_ht=scontent-hou1-1.xx&oh=00_AT9CGD3w8DOqYNnW9yNtR2fsGwa7Q7f01Q7Nr7-KLQH_yA&oe=635FB044" alt="Different Muscles " />
    </div>
</section>

<!--Newsletter-->
<section class="bg-primary text-light p-5 p-lg-0">
  <div class="container">
    <div class="d-md-flex justify-content-between align-items-center">
      <h3 class="mb-3 mb-md-0">Sign Up For Our Newsletter.</h3>
      
      <div class="input-group news-input">
        <input type="text" class="form-control" placeholder="Enter Email">
        <button class="btn btn-dark btn-lg" type="button">Button</button>
      </div>
</section>

<!--Boxes-->
<section class="p-5">
  <div class="container">
    <div class="row text-center g-4">
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center>">
            <div class="h1">
              <i class="bi bi-laptop"></i>
            </div>
            <h3 class="card-title mb-3">Virtual</h3>
            <p class="card-test">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, est?
            </p>
            <a href="" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-secondary text-light">
          <div class="card-body text-center>">
            <div class="h1">
              <i class="bi bi-person-square"></i>
            </div>
            <h3 class="card-title mb-3">Hybrid</h3>
            <p class="card-test">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, est?
            </p>
            <a href="" class="btn btn-dark">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card bg-dark text-light">
          <div class="card-body text-center>">
            <div class="h1">
              <i class="bi bi-people"></i>
            </div>
            <h3 class="card-title mb-3">In Person</h3>
            <p class="card-test">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, est?
            </p>
            <a href="" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
  </div>
</section>

<!--Learn Section-->
<section class="p-5">
  <div class="container">
    <div class="row alight-items-center justify-content-between">
      <div class="col-md">
        <img src="img/fundamentals.svg" class="img-fluid" alt="">
      </div>
      <div class="cold-md p-5">
        <h2>Learn The Fundamentals</h2>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Non inventore ducimus, fugiat beatae reprehenderit adipisci.
        </p>
        <a href="#" class="btn btn-light mt-3">
        <i class="bi bi-cheveron-right"></i> Read More
        </a>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a post</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>