<section class="feed-section-add">
    <form class="" action="" method="POST">
        <button class="btn profile-btns" type="submit">
            add player
            <i class="fa-solid fa-circle-plus fa-lg"></i>
        </button>
    </form>
</section>
<section class="section-feed">
    <section class="section-list-feed">
        <ul class="list-feed">
            <% posts.forEach(el=> { %>
                <% if(el.user==user.id) { %>
                    <li class="item-list-feed">
                        <section class="card">
                            <img src="<%= el.image.feed%>" class="card-img-top" alt="...">
                            <ul class="list-group list-group-flush list-card-feed">
                                <li class="list-group-item item-list-card">
                                    <%= el.player%>
                                </li>
                                <li class="list-group-item item-list-card">
                                    <%= el.team%>
                                </li>
                                <li class="list-group-item item-list-card">
                                    <%= el.position%>
                                </li>
                                <% if (el.win==='' || el.loss==='' ) {%>
                                    <li class="list-group-item item-list-card">
                                        0-0
                                    </li>
                                    <% } else { %>
                                        <li class="list-group-item item-list-card">
                                            <%= el.win %>-<%= el.loss%> | <%=
                                                        `.${(Number(el.win)/(Number(el.win)+Number(el.loss))).toFixed(3).toString().split('.')[1]}`
                                                        %>%
                                                        <% } %>
                                        </li>
                            </ul>
                            <section class="card-body-notes">
                                <p class="card-text">
                                    <%= el.notes%>
                                </p>
                            </section>
                            <section class="card-body-btns">
                                <a href="/post/<%= el._id%>"> <i class="fa-regular fa-pen-to-square fa-lg"></i></a>
                                <form action="/feed/deletePost/<%= el._id %>?_method=DELETE" method="POST"
                                    class="feed-delete-form">
                                    <button class="btn feed-delete-btn" type="submit">
                                        <i class="fa-regular fa-trash-can fa-lg"></i>
                                    </button>
                                </form>
                            </section>
                        </section>
                    </li>
                    <% }}) %>
        </ul>
    </section>
</section>